.label__span {
    color: var(--secondary-color);
}

.btn {
    border-color: var(--secondary-color) !important;
    color: var(--secondary-color) !important;

}

.btn-check:checked+.btn {
    background-color: var(--primary-color) !important;
    color: var(--secondary-color) !important;
}