:root {
    --primary-color: #496E81;
    --secondary-color: #FFFFC3;
    --tertiary-color: #C8E7EC;

}

body {
    margin: 0 auto;
    min-width: 370px;
    max-width: 1600px;
}

a {
    text-decoration: none !important;
}

ul {
    list-style: none !important;
    padding: 0 !important;
}